Model typu filtrowanie kolaboracyjne (collaborative filtering).

Wykorzystujemy w tym celu macierz interakcji, którą następnie dekomponujemy na macierze mniejszej wymiarowości z użyciem 
TruncatedSVD - sklearn.

In [234]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

Przygotowanie macierzy interakcji

In [235]:
sessionsDataPath = '../notebooks/data/v2/sessions.jsonl'
productsDataPath = '../notebooks/data/v2/products.jsonl'
sessionsDF = pd.read_json(sessionsDataPath, lines=True)
productsDF = pd.read_json(productsDataPath, lines=True)

df = sessionsDF.drop(columns=["session_id", "timestamp", "event_type", "offered_discount", "purchase_id"])
df["count"] = 1
interactionMatrixDF = pd.pivot_table(df, index="user_id", columns="product_id", values="count", aggfunc=np.sum, fill_value=0)

display(interactionMatrixDF)

product_id,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,1310,1311,1312,1313,1314,1315,1316,1317,1318,1319
user_id,,,,,,,,,,,,,,,,,,,,,
102,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
103,0,2,4,16,1,3,2,5,3,9,...,0,1,2,1,1,3,6,1,0,7
104,0,1,6,6,6,9,0,5,3,6,...,1,2,1,0,1,1,7,2,6,1
105,0,2,7,10,4,5,0,4,3,5,...,0,1,2,0,2,1,10,5,0,1
106,3,1,2,9,2,3,2,3,1,6,...,0,0,2,3,1,1,6,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,3,1,6,14,8,2,0,3,8,6,...,0,2,0,2,0,1,10,1,3,3
298,0,0,8,1,3,3,0,6,1,2,...,1,0,0,0,1,2,9,3,0,0
299,0,0,3,0,1,0,0,1,0,1,...,0,0,1,0,2,1,3,1,0,1
300,3,5,9,10,3,5,0,5,4,9,...,2,1,0,0,4,4,9,2,0,4
301,9,1,8,11,3,1,0,0,1,7,...,2,2,0,1,0,0,6,1,0,2

Normalizacja wartości w macierzy interakcji.

In [236]:
interactionMatrixDF = pd.DataFrame(preprocessing.MinMaxScaler().fit_transform(interactionMatrixDF))
display(interactionMatrixDF)

,0,1,2,3,4,5,6,7,8,9,...,309,310,311,312,313,314,315,316,317,318
0,0.000000,0.0,0.052632,0.00000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00,0.000,0.00,0.000000,0.142857,0.000000,0.000
1,0.000000,0.4,0.210526,0.50000,0.066667,0.214286,0.4,0.357143,0.250000,0.428571,...,0.000000,0.142857,0.4,0.25,0.125,0.75,0.200000,0.142857,0.000000,0.875
2,0.000000,0.2,0.315789,0.18750,0.400000,0.642857,0.0,0.357143,0.250000,0.285714,...,0.333333,0.285714,0.2,0.00,0.125,0.25,0.233333,0.285714,0.666667,0.125
3,0.000000,0.4,0.368421,0.31250,0.266667,0.357143,0.0,0.285714,0.250000,0.238095,...,0.000000,0.142857,0.4,0.00,0.250,0.25,0.333333,0.714286,0.000000,0.125
4,0.333333,0.2,0.105263,0.28125,0.133333,0.214286,0.4,0.214286,0.083333,0.285714,...,0.000000,0.000000,0.4,0.75,0.125,0.25,0.200000,0.428571,0.000000,0.125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.333333,0.2,0.315789,0.43750,0.533333,0.142857,0.0,0.214286,0.666667,0.285714,...,0.000000,0.285714,0.0,0.50,0.000,0.25,0.333333,0.142857,0.333333,0.375
196,0.000000,0.0,0.421053,0.03125,0.200000,0.214286,0.0,0.428571,0.083333,0.095238,...,0.333333,0.000000,0.0,0.00,0.125,0.50,0.300000,0.428571,0.000000,0.000
197,0.000000,0.0,0.157895,0.00000,0.066667,0.000000,0.0,0.071429,0.000000,0.047619,...,0.000000,0.000000,0.2,0.00,0.250,0.25,0.100000,0.142857,0.000000,0.125
198,0.333333,1.0,0.473684,0.31250,0.200000,0.357143,0.0,0.357143,0.333333,0.428571,...,0.666667,0.142857,0.0,0.00,0.500,1.00,0.300000,0.285714,0.000000,0.500
199,1.000000,0.2,0.421053,0.34375,0.200000,0.071429,0.0,0.000000,0.083333,0.333333,...,0.666667,0.285714,0.0,0.25,0.000,0.00,0.200000,0.142857,0.000000,0.250

Utworzenie słownika dla szybszego wyszukiwania.

In [237]:
idxNameDict = pd.Series(productsDF["product_id"].values, index=productsDF.index).to_dict()

Przygotowanie zbirów danych: treningowy i testowy

In [238]:
from sklearn.model_selection import train_test_split

trainUser, testUser = train_test_split(interactionMatrixDF, test_size=0.2)

#transpose because items are columns
# trainItem, testItem = train_test_split(interactionMatrixDF.transpose(), test_size=0.2)
# trainItem = interactionMatrixDF.transpose() #for testing only

Dekompozycja utworzonej macierzy na podmacierze ze względu na użytkowników i produkty.

In [239]:
from sklearn.decomposition import TruncatedSVD

#initial hiperparameters
epsilon = 1e-9
latentFactors = 10

#generate item latent features
itemSVD = TruncatedSVD(n_components=latentFactors)
itemFeatures = itemSVD.fit_transform(interactionMatrixDF.transpose()) + epsilon #transpose because items are columns

#generate user latent features
userSVD = TruncatedSVD(n_components=latentFactors)
userFeatures = userSVD.fit_transform(interactionMatrixDF) + epsilon

pd.DataFrame(userFeatures)
pd.DataFrame(itemFeatures)

,0,1,2,3,4,5,6,7,8,9
0,1.618952,0.132038,0.120707,-0.418227,-0.183962,-0.259451,-0.016962,0.188792,0.535097,0.225518
1,3.404254,0.530838,0.514889,0.327893,-0.100356,0.242738,1.236175,-0.312555,-0.146838,0.198538
2,3.519515,-0.325706,0.127680,0.497284,0.357776,0.185757,0.024502,-0.083217,-0.017484,0.063786
3,4.047585,-0.222104,0.092306,0.186579,-0.255588,-0.497052,0.567393,-0.438526,-0.277063,-0.188767
4,4.282888,0.349092,-0.403688,0.476915,0.169132,-0.171132,0.000953,0.218307,-0.368186,-0.339297
...,...,...,...,...,...,...,...,...,...,...
314,3.557963,0.908401,0.557266,-0.268465,0.610050,0.378040,0.769413,-0.863854,0.231269,-0.449155
315,3.755988,0.388178,0.307054,0.050627,0.471981,0.069972,-0.426548,-0.207084,-0.393312,-0.491105
316,3.745483,-0.154746,0.035220,0.288171,0.581432,0.068878,-0.530447,-0.034036,-0.130709,-0.275348
317,1.845285,-0.017357,0.482073,0.649703,-0.304772,-0.212362,-0.482983,0.119628,0.426613,0.318696
318,2.855602,0.171374,0.351801,-0.245100,0.372534,0.317473,-0.045723,-0.296557,-0.066541,-0.388112

In [240]:
def top_k(item_id, top_k, corr_mat, map_name):
    topItems = corr_mat[item_id,:].argsort()[-top_k:][::-1]
    topItems = [map_name[e] for e in topItems]
    return topItems

In [241]:
from sklearn.metrics.pairwise import cosine_similarity

itemCorrMat = cosine_similarity(itemFeatures)

#before test_split it is mandatory to create dict mapping indexes of products in productsDF to labels or ids
#because truncatedSVD has rows coresponding to rows in productsDF, but after split there not the same
recommendations = top_k(5, 10, itemCorrMat, idxNameDict)
display(productsDF.loc[productsDF['product_id'].isin(recommendations)])

,product_id,product_name,category_path,price,user_rating
4,1005,Szalone Króliki Na żywo i w kolorze (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99,2.949198
5,1006,Call of Duty 4 Modern Warfare (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,59.90,3.054270
7,1008,Tom Clancy&#39;s Rainbow Six Vegas (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99,3.715598
10,1011,BioShock Infinite (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,139.99,3.251818
11,1012,Fallout New Vegas (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,69.00,2.386605
12,1013,LA Noire (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,129.99,0.166660
26,1027,Skate 3 (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,56.00,4.774147
44,1045,Call of Duty Modern Warfare 2 (PS3),Gry i konsole;Gry na konsole;Gry PlayStation3,59.90,2.816279
89,1090,Władca Pierścieni Wojna Na Północy (PC),Gry i konsole;Gry komputerowe,33.99,1.764497
313,1314,Assassin&#39;s Creed (Xbox 360),Gry i konsole;Gry na konsole;Gry Xbox 360,49.99,2.416163